@import 'tailwindcss';

:root {
  --neutral-950: #0e121b;
  --neutral-900: #191b25;
  --neutral-800: #232530;
  --neutral-700: #2b3039;
  --neutral-600: #e0e4ea;
  --neutral-500: #717784;
  --neutral-400: #9a9aae;
  --neutral-300: #cadfde;
  --neutral-200: #e0e4ea;
  --gray-100: #f3f5f8;
  --neutral-100: #f3f5f8;
  --neutral-50: #f5f7fa;
  --neutral-0: #ffffff;
  --blue-700: #2547d0;
  --blue-500: #353cff;
  --blue-50: #ebf1ff;
  --green-500: #12c188;
  --green-100: #d1f8e9;
  --red-500: #fb3746;
  --red-100: #ffd5d8;
  --text-100: #000000;
}

.dark {
  --neutral-0: #0e121b;
  --text-100: #e0e4ea;
  --neutral-200: #232530;
  --neutral-100: #2b3039;
  --neutral-500: #717784;
  --neutral-950: #ffffff;
  --neutral-600: #525b68;
  --gray-150: #f3f5f8;
}
body,
html,
#root {
  height: 100%;
}

body {
  background-color: var(--neutral-0);
  color: var(--text-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-100: var(--neutral-100);
  --color-text-black: var(--neutral-0);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-950: var(--neutral-950);
  --color-gray-100: var(--gray-100);
  --color-neutral-600: var(--neutral-600);
}

html,
body,
#root {
  height: 100%;
}
