@import 'tailwindcss';

:root {
  --neutral-950: #0e121b;
  --neutral-900: #191b25;
  --neutral-800: #232530;
  --neutral-700: #2b3039;
  --neutral-600: #525b68;
  --neutral-500: #717784;
  --neutral-400: #9a9aae;
  --neutral-300: #cadfde;
  --neutral-200: #e0e4ea;
  --neutral-100: #f3f5f8;
  --neutral-50: #f5f7fa;
  --neutral-0: #ffffff;
  --blue-700: #2547d0;
  --blue-500: #353cff;
  --blue-50: #ebf1ff;
  --green-500: #12c188;
  --green-100: #d1f8e9;
  --red-500: #fb3746;
  --red-100: #ffd5d8;
}
